# Ignore everything by default
*

# Allow specific files/folders
!/.github/
!/.github/**
!/source/
!/source/**
!/tests/
!/tests/**
!/.gitignore
!/CHANGELOG.md
!/README.adoc
!/dub.sdl
!/walkthrough.md
